$black-normal: #0D0E10;
$black-dark: #050607;
$black-light: #15171A;

$yellow-normal: #eef120;
$yellow-dark: #eecd16;
$yellow-light: #f6f7c1;

$red-normal: #f155b5;
$red-dark: #e90290;
$red-light: #f0b3db;